$primary-darkset:#002550;
$primary-dark:#025A9A;
$primary-default:#00AEFF;
$primary-light:#61cdff;

$neutral-100:#020203;
$neutral-200:#0b0d12;
$neutral-300:#15171b;
$neutral-400:#1F2025;
$neutral-500:#26272e;
$neutral-600:#2d2f38;
$neutral-700:#363842;

$cinza-1:#8f9199;
$cinza-2:#828792;
$cinza-3:#9d9d9d;
$preto-1:#212428;
$preto-2:#020203;

$white:#fff;